table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

}

.button-row button,
.button-row a {
  margin-right: 10px;
}

th,tr.mat-footer-row {
  font-weight: bold;
  background: sienna;
  text-align: center;
}
