mat-grid-tile {
  /* background: #673ab7; */
  background: orange;
  color : #fff;
}
.example-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.example-spacer {
  flex: 1 1 auto;
}
a {
  margin: 2px;
}
