<div class = "textinimg">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile><img class="c1" src="assets/img/61830.jpg"></mat-grid-tile>
  </mat-grid-list>
</div>

<div class="centered"><img class="world" src="assets/img/img1.png"></div>
<div class="bottom"><br><br><h1>Coffee Shop</h1>
  <p>TEAM-01 Opening hours: Mo-Fr 11:00-00:00 <br><br>Sa-Sa 15:00-00:00
    Call (66)1234-5678
    <a target="_blank" href="http://localhost:4200/member">"REGISTER"</a> .</p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p><a target="_blank" href="http://localhost:4200/loginmem">&nbsp;&nbsp;&nbsp;&nbsp;"MEMBER LOGIN"</a>  &nbsp;&nbsp;or&nbsp;&nbsp; <a target="_blank" href="http://localhost:4200/login">"STAFF LOGIN"</a> </p>

</div>


<mat-grid-tile><img class="img-circle" src="assets/img/banner.jpg"></mat-grid-tile>



