<div class="show">
  <a target="_blank" href="http://localhost:4200/home"><mat-toolbar class = "top" >CoffeeShop</mat-toolbar></a>
  <h1><p align = "center"> รายการสำหรับลูกค้า </p> </h1>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/member']">ระบบสมัครสมาชิก</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/CoffeeDelivery']">ระบบสั่งกาแฟเดลิเวอรี่</button>
  </div></h2>

</div>
