<mat-toolbar class ="top">
  <mat-toolbar-row>
    <h1> CoffeeShop DeleteMember</h1>&nbsp;&nbsp;&nbsp;
    <span class="example-spacer"></span>
    <a mat-stroked-button [routerLink]="['/homestaff']"><i class="material-icons">
      home
    </i></a>
  </mat-toolbar-row>
</mat-toolbar>
<br><br><br>

<br><br>

<table mat-table  [dataSource]="member" class="mat-elevation-z8"> 

<ng-container matColumnDef="id">
<th mat-header-cell *matHeaderCellDef> MEMBER_ID  </th>
<td mat-cell *matCellDef="let element">  {{element.meid}} </td>
</ng-container>

<ng-container matColumnDef="user">
<th mat-header-cell *matHeaderCellDef>USERNAME</th>
<td mat-cell *matCellDef="let element"> {{element.user}} </td>
</ng-container>

<ng-container matColumnDef="nameM">
<th mat-header-cell *matHeaderCellDef>NAME</th>
<td mat-cell *matCellDef="let element"> {{element.nameM}} </td>
</ng-container>

<ng-container matColumnDef="pass">
<th mat-header-cell *matHeaderCellDef>PASSWORD</th>
<td mat-cell *matCellDef="let element"> {{element.password}} </td>
</ng-container>

<ng-container matColumnDef="CreditPay">
<th mat-header-cell *matHeaderCellDef style = "width:20%">...</th>
<td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="DeleteMember(element.meid)">
Remove</button> </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
<tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>


</table>
