card2{

  width: 500px;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
