.example-button-row{
  text-align:center;
}
.show{
  background-color: rgb(218, 226, 226);
  height: 755px;
}

.top{
  color: aliceblue;
  font-size: 250%;
  background-color: rgb(0, 0, 0);
}
