<div class="show">
  <a target="_blank" href="http://localhost:4200/home"><mat-toolbar class = "top" >CoffeeShop</mat-toolbar></a>
  <h1><p align = "center" > ??????????????????? </p> </h1>


  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/manu']">?????????????</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/coffeeorders']">????????????</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/payment']">??????????????</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/point']">???????? Point</button>
  </div></h2>

<h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/reward']">???? ?????????????</button>
  </div></h2>

<h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/stock']">???????????????</button>
  </div></h2>


</div>
