<div class="show">
  <a target="_blank" href="http://localhost:4200/home"><mat-toolbar class = "top" >CoffeeShop</mat-toolbar></a>
  <h1><p align = "center" > รายการสำหรับพนักงาน </p> </h1>


  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/manu']">ระบบเพิ่มเมนู</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/coffeeorders']">ระบบสั่งกาแฟ</button>
  </div></h2>

   <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/point']">ระบบสะสม Point</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/reward']">ระบบแลกของรางวัล</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/stock']">ระบบสต็อคสินค้า</button>
  </div></h2>
  
  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/cancel-member']">ระบบยกเลิกสมาชิก</button>
  </div></h2>
</div>
