.record{
  height:700px;
  text-align:center;
  color:black;
  background-color: #cdc39a;

}
.name {
  min-width: 150px;
  max-width: 500px;
  margin-left:32%;
  margin-right:25%;
  width: 50%;
  text-align: center;
  color: black;
  font-size: 50px;
}
.example-full-width {
  width: 50%;
  color: black;
}
.example-spacer {
  flex: 1 1 auto;
}
.top{
  color: aliceblue;
  font-size: 250%;
  background-color: rgb(0, 0, 0);
}
