
/*
html{
background-image: url('/UI/image/blackgound.jpeg');
} */

.example-full-width {
    alignment: center;
    text-align: center;
    width: 20%;
    left : 10%;
  }
  .example-full-widtha {
    alignment: center;
    text-align: center;
    width: 20%;
    left : 40%;
  }
  
  .example-mid-width {
    alignment: center;
    text-align: center;
    width: 20%;
    left : 40%;
  }
  .aa{
    text-align: center;
  }
  .example-spacer {
  flex: 1 1 auto;
  }
  .top{
  color: aliceblue;
  font-size: 250%;
  background-color: rgb(0, 0, 0);
  }
  
  
  