<div class="record">
  <mat-toolbar class ="top">
    <mat-toolbar-row>
      <h1> CoffeeShop Creditcard Payment</h1>&nbsp;&nbsp;&nbsp;
      <span class="example-spacer"></span>
      <a mat-stroked-button [routerLink]="['/homestaff']"><i class="material-icons">
        home
      </i></a>
    </mat-toolbar-row>
  </mat-toolbar>

  <h1><p align = "center"> การชำระเงินสินค้าด้วยบัตรเครดิต </p> </h1>
  <form class="name">

    <mat-card-content>
      <h4><div style="text-align:center">
        ชื่อสมาชิก <mat-form-field  class="example-mid-width">
        <mat-select placeholder="กรุณาเลือก" [(ngModel)]="nameMSelect" [ngModelOptions]="{standalone: true}" name="nameMs">
          <mat-option *ngFor="let gd of nameMs" [value]="gd.meid">
            {{gd.nameM}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div></h4>

      <h4><div style="text-align:center">
        ID order <mat-form-field  class="example-mid-width">
        <mat-select placeholder="กรุณาเลือก" [(ngModel)]="orderidSelect" [ngModelOptions]="{standalone: true}" name="orderids">
          <mat-option *ngFor="let gd of orderids" [value]="gd.orderid">
            {{gd.orderid}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div></h4>

      <h4><div style="text-align:center">
        ชื่อพนักงาน <mat-form-field  class="example-mid-width">
        <mat-select placeholder="กรุณาเลือก" [(ngModel)]="staffNameSelect" [ngModelOptions]="{standalone: true}" name="staffNames">
          <mat-option *ngFor="let gd of staffNames" [value]="gd.id">
            {{gd.staffName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
     </div></h4>

      <h4><div style="text-align:center">
      ชื่อเจ้าของบัตร&nbsp;&nbsp;<mat-form-field class="example-mid-width" >
        <input matInput placeholder="กรุณากรอกชื่อ" [(ngModel)]="creditname" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      </div></h4>

      <h4><div style="text-align:center">
      หมายเลขบัตร&nbsp;&nbsp; <mat-form-field class="example-mid-width" >
        <input matInput placeholder="กรุณากรอกหมายเลขบัตร" [(ngModel)]="creditnumber" maxlength="16" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      </div></h4>

      <h4><div style="text-align:center">
      รหัส CSC&nbsp;&nbsp;<mat-form-field class="example-mid-width" >
        <input matInput placeholder="กรุณากรอกรหัส CSC" [(ngModel)]="csc" maxlength="3" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      </div></h4>

        <h4><div style="text-align:center">
     วันที่บัตรหมดอายุ &nbsp;&nbsp;<mat-form-field  class="example-mid-width">
        <input matInput [matDatepicker]="picker" placeholder="กรุณาเลือกวันที่" [(ngModel)]="expireddate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        </div></h4>

       <h4><div style="text-align:center">
      ประเภทบัตรเครดิต <mat-form-field  class="example-mid-width">
        <mat-select placeholder="กรุณาเลือก" [(ngModel)]="typenameSelect" [ngModelOptions]="{standalone: true}" name="typenames">
          <mat-option *ngFor="let gd of typenames" [value]="gd.creditid">
            {{gd.typename}}
          </mat-option>
        </mat-select>
      </mat-form-field>
       </div></h4>

      <h4><div style="text-align:center">
        จำนวนเงินที่หักจากในบัตร &nbsp;&nbsp;<mat-form-field class="example-mid-width" >
        <input matInput placeholder="กรุณากรอกจำนวนเงิน" [(ngModel)]="money" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      </div></h4>

    </mat-card-content>


    <div class ="button-row">
      <a mat-raised-button color ="warn" (click)= "insert()" >บันทึกการชำระเงิน</a>
    </div>
  </form>
</div>
